{% extends "layout.html" %}
{% block title %}Ridr | Home{% endblock %}
{% block body_class %}home{% endblock %}
{% block content %}
<div class="mainpage">
	<div class="event">
		<h3>Event 1</h3>
		<img src="usergenerated.png">
	</div>
	<div class="event">
		<h3>Event 2</h3>
		<img src="usergenerated.png">
	</div>
	<div class="event">
		<h3>Event 3</h3>
		<img src="usergenerated.png">
	</div>
	<hr>
	<div class="rides">
	<h1> Rides </h1>
	<table>
		<tr> 
			<th> Open 	</th> 
			<th> Location	 </th>
			<th> Driver 	</th>
			<th> Heading Out At:	 </th>
			<th> Rating 	</th>
			<th> Action </th>
		</tr>
		<tr>
			<td>DATA </td>
			<td>DATA </td>
			<td>DATA </td>
			<td>DATA </td>
			<td>DATA </td>
			<td><a href="/event"><button>Join</button></a></td>
		</tr>
	</table>
</div>


{% endblock %}